body{
  background-image: linear-gradient(to bottom right, #12072D, #751346);
}
#main{
  padding: 15px;
  background-image: linear-gradient(to bottom right, #751346, #12072D);
}
#main2{
  padding: 15px;
  background-image: linear-gradient(to bottom right, #751346, #12072D);
  width: 100%;
}
.logo{
  padding-left: 30px;
  padding-top: 25px;
  margin-bottom: 10px;
}
.topButton{
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  background-color: #FEC260;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.topBar {
    display: inline-block;
    text-align: center;
    align-items: center;
}
#search {
  font-size:15px;
  font-family: Arial;
  font-weight: bold;
  width:120px;
  height:35px;
  border-width:0px;
  color: #00000;
  border-radius: 19px;
  background-color: #f9f9f9;
  margin-right: 30px;
}

#search:hover {
  background-color: #FCF9C6;
}
.trendz{
  font-size:17px;
  font-family:Arial;
  width:150px;
  height:35px;
  border-width:0px;
  color:#00000;
  border-color:#ffaa22;
  font-weight:bold;
  border-radius: 19px;
  background:linear-gradient(#ffec64, #ffab23);
  margin-right: 30px;
}
.trendz:hover {
  background: linear-gradient(#ffab23, #ffec64);
}
input{
     padding-right: 40px;
     padding-left: 10px;
     font-size: 16px;
     border-width: 1px;
     border-color: #CCCCCC;
     background-color: #ffffff;
     color: #000000;
     border-style: solid;
     border-radius: 10px;
     box-shadow: 0px 0px 6px rgba(7,12,21,.75);
     margin-right: 30px;
}
h1 {
    font-family: Gotham, sans-serif;
    /* background: linear-gradient(#ffab23, #FEC260); */
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #FF008E;
    padding: 5px;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
}

/* THE TRENDING MOVIES */

.display{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
  border: double;
  border-width: thick;
  border-color: #ffab23;
  width: 160px;
  height: auto;
}
.filmbox{
  background-color: #fff;
  padding-top: 2px;
  padding-bottom: 2px;
}
.boxtitle {
  font-family: Gotham, sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  color: #000;
  padding-left: 15px;
}

/* THE INFORMATIONS OF A MOVIE */

#info{
  display: flex;
  justify-content: center;
  color: aliceblue;
  /* background-color: black; */
  margin-top: 40px;
  margin-bottom: 50px;
}
#info h2{
  font-family: Gotham, sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #37E2D5;
  margin-bottom: 20px;
}
#info h3{
  font-family: Gotham, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #E8FFC2;
}
#info button{
  font-size:17px;
  font-family: Gotham, sans-serif;
  width:120px;
  height:35px;
  border-width:0px;
  color:#00000;
  border-color:#ffaa22;
  font-weight: bold;
  border-radius: 10px;
  background:linear-gradient(#ffec64, #ffab23);
  margin-bottom: 20px;
}
#info img{
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  border: double;
  border-width: thick;
  border-color: #ffab23;
  margin-top: 10px;
}
#info #back {
  font-size:13px;
  background: aliceblue;
  width:80px;
  height:25px;
}
#back2 {
  font-size: 17px;
  font-weight: bold;
  background: aliceblue;
  width: 130px;
  height:35px;
  margin: 30px;
  border-radius: 20px;
}

/* FOOTER */
.footer{
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
    background-color: #12072D;

}
.footer p{
  font-family: cursive;
  color: #fff;
  font-weight: lighter;
  font-size: small;
  letter-spacing: 4px;
}
